<table style="width:100%">
  <tr>
    <td>
      <form [formGroup] = "myForm" class = "jumbotron">
        <input type ='text'[formControl] =" myForm.controls ['username']" class = 'form-control'>
        <div *ngIf="!myForm.controls['username'].valid" class="alert alert-danger">Username invalid</div>
        <div *ngIf="myForm.controls['username'].hasError('required')"class="alert alert-danger"> Username required</div>

        <input type ='password'[formControl] =" myForm.controls ['password']" class = 'form-control'>
        <div *ngIf="!myForm.controls['password'].valid" class="alert alert-danger">Password invalid</div>
        <div *ngIf="myForm.controls['password'].hasError('required')"class="alert alert-danger">Password required</div>

        <button (click) = 'onSub(username,password)' [disabled]="!myForm.valid">login</button>

      </form>

</table>
